/* === GLOBAL === */
[v-cloak] {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', 'NotoSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul, li {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}
li {
	display: inline-block;
}

/* === LAYOUT === */
`
#app {
	position: relative;
	width: 100%;
}

#header {
	position: fixed;
	width: 100%;
	height: 100px;
	background: #f6f6f6;
	z-index: 50;
}

#main {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}


/* === TYPOGRAPHY === */

@font-face {
	font-family: 'NotoSans';
	src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'NotoSans';
	src: url(../fonts/NotoSans/NotoSans-Bold.ttf);
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	line-height: 1.25em
}

h1, .h1 {
	font-size: 48px;
	font-weight: 700;
}

h2, .h2 {
	font-size: 30px;
	font-weight: 700;
}

h3, .h3 {
	font-size: 18px;
	font-weight: 700;
}

h4, .h4 {
	font-size: 14px;
	font-weight: normal;
	font-weight: 400;
}

h5, h6 {
	letter-spacing: 2.4px;
}

h5, .h5 {
	font-size: 12px;
	font-weight: 700;
}

h6, .h6 {
	font-size: 10px;
}

p {
	line-height: 1.25em;
	margin: 0;
	font-size: 12px;
}

/* Link style */

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}


/* === GLOBAL CLASSES === */

.no-select {
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.hidden {
	overflow: hidden !important;
}

.inner-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: auto;
}

.center-content {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.sm-br {
	display: none;
}

/* === LOADING SHADE === */

#loading-shade {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: #f6f6f6;
}

@keyframes loading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.loading-icon {
	position: absolute;
	top: 29px;
	left: 20px;
	height: 42px;
	width: auto;
	animation: loading 2s ease 0s infinite;
}

/* === HEADER === */

#inner-header {
	height: 100px;
	margin: 0 auto;
	padding: 29px 20px;
}

#header-icon {
	vertical-align: top;
	display: inline-block;
	height: 42px;
}
#header-icon img {
	vertical-align: top;
	height: 42px;
	width: auto;
}

#header-nav {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 50%;
	float: right;
	margin: 11px 0;
	height: 20px;
}

.nav-item {
	display: inline-block;
	height: 20px;
	padding: 2px;
	cursor: pointer;
	vertical-align: top;
}
.nav-item:not(:last-of-type) {
	margin-right: 46px;
}
#nav-line {
	position: absolute;
	top: 24px;
	height: 2px;
	background: #c2912e;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

#header-social {
	float: right;
	display: inline-block;
	vertical-align: top;
}

.social-item {
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	height: 20px;
	vertical-align: top;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}
.social-item:hover {
	color: #c2912e;
}
.social-item:not(:last-child) {
	margin-right: 20px;
}

.social-item .bc {
	display: block;
}

.mobile-header-menu {
	display: none;
}

/* === MAIN === */

#home,
#projects,
#about,
#contact,
.project-detail {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #ffffff;
}

#projects {
	z-index: 1;
}

.project-detail {
	z-index: 10;
}

#about,
#contact {
	z-index: 20;
	background: #f6f6f6;
}

/* hero banner */

#projects-hero {
	position: relative;
	width: 100%;
	height: 400px;
	background: #000000;
	padding: 145px 0;
	margin-bottom: 50px;
	-webkit-transition: background 2s ease;
	transition: background 2s ease;
}

.hero-text {
	position: relative;
	z-index: 2;
	text-align: center;
	color: #ffffff;
}

.hero-text h1 {
	margin: 30px 0 20px 0; 
}

.hero-image {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 51%;
	-webkit-transition: opacity 2s ease;
	transition: opacity 2s ease;
}

.hero-image.active {
	opacity: 1;
}

.hero-image img {
	vertical-align: top;
	height: 400px;
	width: auto;
}

/* projects list */

#projects-clients,
.event-item,
.illustration-item {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

.project-item {
	cursor: pointer;
}
.project-title {
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}
.project-item:hover .project-title {
	color: #c2912e;
}

/* Clients */

#projects-clients {
	flex-wrap: wrap;
}

.client-item {
	flex: 0 0 49%;
	margin-bottom: 50px;
}

.client-preview {
	position: relative;
	width: 100%;
}

/* FOR SHRINK / GROW HOVER EFFECT */
.client-preview-crop {
	position: absolute;
	top: 0;
	left: 0;
	clip-path: inset(0);
}
.client-preview-crop,
.client-preview-crop img {
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.client-item:hover .client-preview-crop {
	clip-path: inset(10px);
}
.client-item:hover .client-preview-crop img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.client-preview-crop img,
.client-preview .banner-img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.banner-img {
	opacity: 0;
}

.client-preview .mobile-img {
	position: absolute;
	top: 18px;
	left: 50%;
	width: 50%;
	text-align: center;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.client-item:hover .mobile-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.client-preview .mobile-img img {
	max-width: 200px;
	width: calc( 100% - 20px );
	height: auto;
}

.client-item .client-body {
	padding: 20px 20px 20px 0;
	width: 50%;
	height: 200px;
}

.client-item .client-body h3 {
	margin-bottom: 12px;
}

/* Projects & Illustration */

.event-item,
.illustration-item {
	margin-bottom: 58px;
}
.illustration-item {
	padding-top: 42px;
}

.project-preview {
	flex-grow: 6;
	width: 60%;
	padding: 0 1%;
	position: relative;
}
.event-item:nth-child(odd) .project-preview {
	order: 2;
}
.event-item:nth-child(even) .project-preview {
	order: 1;
}

.event-item .project-preview .main-img,
.event-item .project-preview .secondary-img {
	width: 100%;
	height: auto;
}

.event-item .project-preview .secondary-img {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 1%;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.project-body {
	flex-grow: 4;
	width: 40%;
	padding: 0px 1%;
}
.event-item:nth-child(odd) .project-body {
	order: 1;
	padding-right: 8%;
}
.event-item:nth-child(even) .project-body {
	order: 2;
	padding-left: 8%;
}

.project-body h2,
.illustration-body h2 {
	margin-bottom: 12px;
}

.illustration-body {
	flex-grow: 3;
	width: 30%;
	padding-right: 8%;
}

.illustration-preview {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 7;
	width: 70%;
}

.illustration-preview .illustration-img {
	vertical-align: top;
	height: auto;
	padding: 0 5px;
}
.illustration-preview .illustration-img:nth-child(1) {
	width: 22.22%;
	flex-grow: 2;
}
.illustration-preview .illustration-img:nth-child(2) {
	flex-grow: 4;
	width: 44.44%;
}
.illustration-preview .illustration-img:nth-child(3) {
	flex-grow: 3;
	width: 33.33%;
}

/* Project Detail */

.project-detail {
	overflow: auto;
}

.project-block {
	position: relative;
	margin: 0 auto 0 auto;
	max-width: 1180px;
	width: 100%;
	height: 100%;
}

.project-detail .left-column {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 35%;
	padding: 50px 20px;
}

.project-block h6 {
	margin-bottom: 15px;
}
.project-block h2,
.project-block p:not(:last-child) {
	margin-bottom: 18px;
}


.project-text {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #d7d7d7;
}

.project-tags {
	color: #d7d7d7;
	font-style: italic;
}

.back-button {
	position: relative;
	color: #d7d7d7;
	font-size: 18px;
	z-index: 12;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.back-button:hover {
	color: #c2912e;
}

/* RIGHT COLUMN */

.project-detail .right-column {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}
.project-detail .right-column .inner-container {
	padding: 50px 20px 50px 35%;
}

/* detail elements */
.project-element {
	width: 100%;
}
.project-element:not(:last-child) {
	margin-bottom: 40px;
}

.project-gallery,
.project-images,
.project-video,
.project-grid {
	width: 100%;
}

/* gallery */

.project-gallery {
	position: relative;
}
.project-gallery ul {
	width: 100%;
}

.gallery-slider {
	position: relative;
	white-space: nowrap;
	vertical-align: top;
	margin-bottom: 20px;
	overflow: hidden;
}
.project-slider ul:after {
	content: "";
	display: table;
	clear: both;
}

/*.gallery-slide {
	position: absolute;
	top: 0;
	left: 0;
}*/

.gallery-slide,
.gallery-slide img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.gallery-button {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 24px;
	padding: 8px;
	margin-right: 12px;
	color: #d7d7d7;
	background: #f6f6f6;
	vertical-align: top;
	cursor: pointer;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}
.gallery-button:hover {
	color: #000000;
}

.gallery-label {
	color: #d7d7d7;
	font-style: italic;
	line-height: 40px;
	vertical-align: top;
}


/* images */

.project-images img {
	width: 100%;
	height: auto;
	vertical-align: top;
	margin-bottom: 2%;
}

/* embedded video */

.project-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	background-size: cover;
}

.project-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* grid elements ( flex grid ) */

.project-grid {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flex-item {
	flex: 0 0 49%;
	margin-bottom: 2%;
	position: relative;
}
.flex-item.flex-center {
	flex: 0 0 100%;
	text-align: center;
}

.flex-item img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.flex-item.flex-center img{
	width: 50%;
}

.flex-item .html-block {

}

.sm-hr {
	width: 20px;
	height: 1px;
	border-bottom: 1px solid #000;
	margin: 20px 0;
}

/* === ABOUT === */

#personal-info,
#beryl-info {
	padding: 50px 20px;
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;	
}

.left-block, .right-block {
	display: inline-block;
	vertical-align: top;
}
.left-block {
	width: calc( 100% - 400px );
}
.right-block {
	width: 400px;
	padding-left: 20px;
	float: right;
}

#personal-info .text-block {
	width: 100%;
	max-width: 600px;
}

#personal-info h3 {
	margin-bottom: 30px;
}

#personal-info .h6,
#beryl-info .h5 {
	margin-bottom: 15px;
}

#personal-info .right-block {
	text-align: right;
}
#personal-info .right-block img {
	vertical-align: top;
	width: 300px;
	height: auto;
}

#beryl-info .minerals-block {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.minerals-block .mineral-img {
	vertical-align: top;
	height: auto;
	padding: 0 5px;
}
.minerals-block .mineral-img:nth-child(1) {
	width: 33.33%;
	flex-grow: 3;
}
.minerals-block .mineral-img:nth-child(2) {
	flex-grow: 3;
	width: 33.33%;
}
.minerals-block .mineral-img:nth-child(3) {
	flex-grow: 2;
	width: 22.22%;
}


/* === CONTACT === */

#contact-block {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 50px 20px;
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

.contact-info,
.contact-form {
	flex: 0 0 49%;
	margin-bottom: 50px;
}

.contact-info * {
	font-size: 24px;
}
.contact-info .email-link {
	font-weight: 700;
	text-decoration: underline;
}

/* Form Style */

.group-label {
	font-size: 18px;
	margin-bottom: 15px;
}

.form-group {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;
}

.input-group {
	flex: 0 0 100%;
}
.input-group.half-width {
	flex: 0 0 49%;
}

.submit-btn,
.input-group input,
.input-group textarea {
	font-size: 18px;
	outline: none;
	box-shadow: none;
	background: #f6f6f6;
}

.input-group input,
.input-group textarea {
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	width: 100%;
}

.input-group input {
	border: none;
	border-bottom: 2px solid #000;
	height: 30px;
}

.input-group textarea {
	border: 2px solid #000;
	resize: none;
	height: 100px;
	padding: 5px;
}

.input-group input:focus,
.input-group textarea:focus {
	border-color: #c2912e;
}

.submit-btn {
	display: inline-block;
	float: right;
	height: 40px;
	padding: 0 45px;
	background: #000;
	border: 1px solid #000;
	color: #fff;
	letter-spacing: 2.4px;
	font-weight: 700;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	cursor: pointer;
}

.submit-btn:active {
	color: #c2912e;
}

/* === VUE TRANSITIONS === */

/* LOADING SHADE */

.load-finish-leave-active {
	-webkit-transition: opacity .5s ease 1s;
	transition: opacity .5s ease 1s;
}
.load-finish-leave-active .loading-icon {
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	animation: none;
}

.load-finish-leave {
	opacity: 1;
}

.load-finish-leave-to {
	opacity: 0;
}


/* DROP DOWN / UP / DOWN-OUT */

.drop-down-enter-active,
.drop-down-out-enter-active,
.drop-down-out-leave-active,
.drop-up-leave-active {
	-webkit-transition: all .3s cubic-bezier(.48,.05,.37,.94);
	transition: all .3s cubic-bezier(.48,.05,.37,.94);
}
.drop-down-leave-active,
.drop-up-enter-active {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.drop-down-enter,
.drop-down-out-enter,
.drop-up-leave-to {
	-webkit-transform: translateY( -100% );
	transform: translateY( -100% );
}
.drop-down-enter-to,
.drop-down-out-enter-to,
.drop-down-out-leave,
.drop-up-leave {
	-webkit-transform: translateY( 0% );
	transform: translateY( 0% );
}
.drop-down-out-leave-to {
	-webkit-transform: translateY( 100% );
	transform: translateY( 100% );
}

.drop-down-leave,
.drop-up-enter-to {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.drop-down-leave-to,
.drop-up-enter {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}


/* SLIDE UP AND DOWN PROJECT CHANGE */
 
.slide-up-enter-active,
.slide-down-leave-active {
	-webkit-transition: all .3s cubic-bezier(.48,.05,.37,.94);
	transition: all .3s cubic-bezier(.48,.05,.37,.94);
}
.slide-up-leave-active,
.slide-down-enter-active {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.slide-up-enter,
.slide-down-leave-to {
	-webkit-transform: translateY( 100% );
	transform: translateY( 100% );
}
.slide-up-enter-to,
.slide-down-leave {
	-webkit-transform: translateY( 0% );
	transform: translateY( 0% );
}

.slide-up-leave,
.slide-down-enter-to {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.slide-up-leave-to,
.slide-down-enter {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

/* GALLERY SLIDE NEXT BACK */

.next-slide-enter-active,
.next-slide-leave-active,
.last-slide-enter-active,
.last-slide-leave-active {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.next-slide-enter-active,
.last-slide-enter-active {
	position: absolute;
	top: 0;
}

.next-slide-enter { left: 100%; }

.next-slide-enter-to,
.last-slide-enter-to {
	left: 0;
}

.last-slide-enter { left: -100%; }

.next-slide-leave-to { 
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%); 
}

.next-slide-leave,
.last-slide-leave {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.last-slide-leave-to { 
	-webkit-transform: translateX(100%);
	transform: translateX(100%); 
}

