@media ( max-width: 700px ) {

	/* Global */
	
	.sm-br {
		display: initial;
	}

	/* Layout */

	#main {
		top: 60px;
	}
	
	/* loading shade */
	.loading-icon {
		position: absolute;
		top: 9px;
		left: 50%;
		-webkit-transform: translateX( -50% );
		transform: translateX( -50% );
		height: 42px;
		width: auto;
		animation: loading 2s ease 0s infinite;
	}

	/* Header */
	#header {
		height: 60px;
		text-align: center;
	}

	#inner-header {
		height: 60px;
		margin: 0 auto;
		padding: 9px 10px;
	}
	
	#nav-line {
		display: none;
	}
	/* hamburger / close-x */

	.mobile-header-menu {
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 9px;
		width: 36px;
		height: 42px;
		padding: 7px 4px;
		z-index: 52;
	}

	.hamburger {
		display: block;
		top: 50%;
		margin-top: -1px; 
	}
	.hamburger, .hamburger:before, .hamburger:after {
		width: 28px;
		height: 2px;
		background-color: #c2912e;
		border-radius: 2px;
		position: absolute;
		opacity: 1;
		-webkit-transition: all .15s ease;
		transition: all .15s ease; 
	}
	.close-x .hamburger {
		height: 0;
	}

	.hamburger:before, .hamburger:after {
		content: "";
		display: block; 
	}
	
	.hamburger:before {
		top: -9px; 
	}
	.close-x .hamburger:before {
		top: -1px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.hamburger:after {
		bottom: -9px; 
	}
	.close-x .hamburger:after {
		bottom: -1px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	/* nav-items */
	#header-nav {
		position: fixed;
		display: none;
		background: #f6f6f6;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		padding: 75px 10px 10px 10px;
		z-index: 51;
	}
	#header-nav.nav-open {
		display: block;
		bottom: 0;
	}

	.nav-item,
	#header-social {
		display: block;
		text-align: center;
	}

	.nav-item,
	.nav-item:not(:last-of-type) {
		font-size: 18px;
		margin: 0 auto 38px auto;
	}

	.nav-item h5 {
		display: inline-block;
		vertical-align: top;
	}
	.nav-item.active h5 {
		border-bottom: 2px solid #c2912e;
	}

	#header-social { 
		float: none;
	}
	.social-item {
		font-size: 24px;
		height: 24px;
	}
	.social-item:not(:last-child) {
		margin-right: 38px;
	}

	/* Main Hero Banner */
	#projects-hero {
		padding-top: 50px;
	}
	
	.hero-image {
		left: 0;
		bottom: 0;
		top: inherit;
		width: 100%;
	}
	.hero-image img {
		width: 100%;
		height: auto;
	}

	/* MAIN Projects */

	.inner-container,
	.project-detail,
	.view {
		padding: 0 10px;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}

	#projects-clients,
	.event-item,
	.illustration-item {
		display: block;
		padding: 0;
	}

	.client-item,
	.event-item,
	.illustration-item {
		display: block;
		width: 100%;
	}
	/* Client Items*/
	
	.client-preview .mobile-img {
		top: -10px;
		left: 60%;
		width: 40%;
	}

	.client-item .client-body {
		width: 100%;
		padding: 20px 10px;
		height: initial;
	}

	/* Projects & Illustration */

	.event-item .project-preview,
	.event-item .project-body,
	.illustration-item .illustration-body,
	.illustration-item .illustration-preview {
		display: block;
		width: 100%;
	}
	
	.event-item .project-body,
	.event-item:nth-child(even) .project-body,
	.event-item:nth-child(odd) .project-body,
	.illustration-item .illustration-body {
		padding: 10px;
	}
	
	.event-item .project-body h2,
	.illustration-item .illustration-body h2 {
		font-size: 18px;
	}
	.event-item .project-body h4
	.illustration-item .illustration-body h4 {
		font-size: 12px;
	}

	.illustration-item .illustration-preview .illustration-img {
		display: none;
	}
	.illustration-item .illustration-preview .illustration-img:nth-child(2) {
		display: block;
		width: 100%;
		height: auto;
	}

	.project-detail .left-column,
	.project-detail .right-column,
	.project-detail .inner-container {
		position: relative;
		display: block;
	}

	.project-detail .left-column {
		margin: 0;
		padding: 20px 10px;
		width: 100%;
	}

	.project-detail .right-column .inner-container {
		width: 100%;
		padding: 50px 0;
	}

	.back-button {
		color: #c2912e;
	}

	/* project elements */

	.gallery-buttons {
		text-align: center;
	}

	.gallery-button {
		color: #000000;
	}

	.gallery-button:first-child {
		float: left;
		margin: 0 0 0 12px;
	}
	.gallery-button:not(:first-child) {
		float: right;
	}


	#about,
	#contact {
		position: relative;
		padding: 30px 0;
	}
	
	/* About */

	#personal-info,
	#beryl-info {
		padding: 0;
	}

	.left-block, .right-block {
		padding: 0;
		display: block;
		width: 100%;
		float: none;
	}
	
	#personal-info h3,
	#beryl-info h3 {
		font-size: 14px;
		margin-bottom: 16px;
	}

	#personal-info a {
		text-decoration: underline;
	}

	#personal-info .right-block img {
		width: 100%;
		margin: 5px 0 15px 0;
	}

	.text-block,
	#beryl-info .h5,
	#beryl-info p {
		padding: 10px;
		margin: none;
	}

	.minerals-block .mineral-img:nth-child(1) {
		display: block;
		width: 100%;
		padding: 0;
	}
	.minerals-block .mineral-img:nth-child(2),
	.minerals-block .mineral-img:nth-child(3) {
		display: none;
	}

	/* Contact */

	#contact-block {
		display: block;
		padding: 0 10px;
	}

	.contact-info,
	.contact-form {
		display: block;
		margin-bottom: 50px;
	}

	.contact-info * {
		font-size: 18px;
	}
	.contact-info .email-link {
		font-weight: 700;
		text-decoration: underline;
	}

	.submit-btn {
		display: block;
		float: none;
		margin: 0 auto;
	}

	/* Transitions */

	.menu-open-enter-active,
	.menu-open-leave-active {
		-webkit-transition: all .2s cubic-bezier(.48,.05,.37,.94);
		transition: all .2s cubic-bezier(.48,.05,.37,.94);
	}
	.menu-open-enter,
	.menu-open-leave-to {
		-webkit-transform: translateY( -100% );
		transform: translateY( -100% );
	}
	.menu-open-enter-to,
	.menu-open-leave {
		-webkit-transform: translateY( 0% );
		transform: translateY( 0% );
	}

	
	.drop-down-leave,
	.drop-up-enter-to {
		-webkit-transform: none;
		transform: none;
	}
	.drop-down-leave-to,
	.drop-up-enter {
		-webkit-transform: none;
		transform: none;
	}

	.slide-up-leave,
	.slide-down-enter-to {
		-webkit-transform: none;
		transform: none;
	}
	.slide-up-leave-to,
	.slide-down-enter {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}



}