/* === GLOBAL === */
[v-cloak] {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', 'NotoSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* === LAYOUT === */

#app {
	position: relative;
	width: 100%;
}

#header {
	position: fixed;
	width: 100%;
	height: 140px;
	background: #ffffff;
}

#main {
	position: fixed;
	top: 140px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}


/* === TYPOGRAPHY === */

@font-face {
	font-family: 'NotoSans';
	src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'NotoSans';
	src: url(../fonts/NotoSans/NotoSans-Bold.ttf);
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.25em
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 30px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

h4 {
	font-size: 14px;
	font-weight: normal;
	font-weight: 400;
}

h5, h6 {
	text-transform: uppercase;
	letter-spacing: 2.4px;
}

h5 {
	font-size: 12px;
	font-weight: 700;
}

h6 {
	font-size: 10px;
}

p {
	line-height: 1.25em;
	margin: 0;
	font-size: 12px;
}

/* === GLOBAL CLASSES === */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* === HEADER === */

#inner-header {
	height: 140px;
	margin: 0 auto;
	padding: 20px;
}

#header-icon {
	display: inline-block;
	background: #D8DBDB;
	font-size: 100px;
	height: 100px;
	width: 100px;
}

#header-nav {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 50%;
	float: right;
	margin: 40px 0;
	height: 20px;
}

#header-nav .nav-item {
	display: inline-block;
	height: 20px;
	padding: 2px;
	margin-right: 46px;
	cursor: pointer;
}
#header-nav .nav-line {
	position: absolute;
	top: 24px;
	left: 4px;
	height: 2px;
	width: 74px;
	background: #c2912e;
	transition: all 200ms ease;
}

#header-social {
	float: right;
}


/* === MAIN === */

#home {

}

/* hero banner */

#home-hero {
	position: relative;
	width: 100%;
	height: 400px;
	background: #000000;
	padding: 145px 0;
	margin-bottom: 50px;
}

.hero-text {
	position: relative;
	z-index: 2;
	text-align: center;
	color: #ffffff;
}

.hero-text h1 {
	margin: 30px 0 20px 0; 
}

.hero-image {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 51%;
	transition: opacity 700ms ease;
}

.hero-image.active {
	opacity: 1;
}

.hero-image img {
	vertical-align: top;
	height: 400px;
	width: auto;
}

/* projects list */

#home-clients,
.project-item,
.illustration-item {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

/* Clients */

#home-clients {
	flex-wrap: wrap;
}

.client-item {
	flex: 0 0 50%;
	padding: 0 1%;
	margin-bottom: 50px;
}

.client-item .client-preview {
	position: relative;
	width: 100%;
}
.client-item .client-preview .banner-img {
	width: 100%;
	height: auto;
}
.client-item .client-preview .mobile-img {
	position: absolute;
	top: 18px;
	left: 50%;
	width: 50%;
	text-align: center;
}
.client-item .client-preview .mobile-img img {
	max-width: 200px;
	width: calc( 100% - 20px );
	height: auto;
}

.client-item .client-body {
	padding: 20px 20px 20px 0;
	width: 50%;
	height: 200px;
}

.client-item .client-body h3 {
	margin-bottom: 12px;
}

/* Projects & Illustration */

.project-item,
.illustration-item {
	margin-bottom: 58px;
}
.illustration-item {
	padding-top: 42px;
}

.project-preview {
	flex-grow: 6;
	width: 60%;
	padding: 0 1%;
	position: relative;
}
.project-item:nth-child(odd) .project-preview {
	order: 2;
}
.project-item:nth-child(even) .project-preview {
	order: 1;
}

.project-item .project-preview .main-img,
.project-item .project-preview .secondary-img {
	width: 100%;
	height: auto;
}

.project-item .project-preview .secondary-img {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 1%;
}

.project-body {
	flex-grow: 4;
	width: 40%;
	margin-top: 76px;
	padding: 0px 1%;
}
.project-item:nth-child(odd) .project-body {
	order: 1;
	padding-right: 8%;
}
.project-item:nth-child(even) .project-body {
	order: 2;
	padding-left: 8%;
}

.project-body h2,
.illustration-body h2 {
	margin-bottom: 12px;
}

.illustration-body {
	flex-grow: 3;
	width: 30%;
	padding-right: 8%;
}

.illustration-preview {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 7;
	width: 70%;
}

.illustration-preview .illustration-img {
	vertical-align: top;
	height: auto;
	padding: 0 5px;
}
.illustration-preview .illustration-img:nth-child(1) {
	width: 22.22%;
	flex-grow: 2;
}
.illustration-preview .illustration-img:nth-child(2) {
	flex-grow: 4;
	width: 44.44%;
}
.illustration-preview .illustration-img:nth-child(3) {
	flex-grow: 3;
	width: 33.33%;
}
